.search{
    position: relative;
    margin: 25px 0;
}
.search form span{
    position: absolute;
    top: 15px;
    left: 7px;
}

.search form input[type=text]{
    outline: none;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    width: 60%;

}
.search form input::placeholder{
    color: #363636;
    font-weight: 600;
    font-size: 1em;

    
}

@media screen and (max-width: 420px){
    .search form input::placeholder{
        font-size: .8em;
    }
    .search {
        margin: 20px 0;
    }
}